[submodule "third_party/mmdetection3d"]
	path = third_party/mmdetection3d
	url = https://github.com/open-mmlab/mmdetection3d.git
[submodule "third_party/AB3DMOT"]
	path = third_party/AB3DMOT
	url = https://github.com/xinshuoweng/AB3DMOT.git
